<!DOCTYPE html>
<head>
    <title>Polls</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <a href="{% url 'logout' %}" class="btn btn-danger" style="float: right;">Logout</a>
    <a href="{% url 'createpoll' %}">Create a poll</a>
    <a href="{% url 'mypolls' %}">My Polls</a>
    <img width="50px" height="40px" style="border-radius: 60%;" src={{img}} onerror="this.src='https://icon-library.com/images/no-profile-picture-icon/no-profile-picture-icon-14.jpg'">
    <br><br>
    {% for poll in polls %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <h2>{{poll.question}}</h2>
    <input type="hidden" value="{{poll.poll_id}}" name="poll_id">
    <input type="radio" value=1 name="option">{{poll.opt1}}<br>
    <input type="radio" value=2 name="option">{{poll.opt2}}<br>
    <input type="radio" value=3 name="option">{{poll.opt3}}<br>
    <input type="radio" value=4 name="option">{{poll.opt4}}<br>
    <input type="submit">
    </form>
    {% endfor %}

    
</body>